In [167]:
import pandas
data = pandas.read_csv ( 'titanic.csv' , index_col='PassengerId')
#data[:2]
#b=data['Survived'].value_counts()
#b[]

b=data[data['Sex'] == 'female']
len(b)
#data['Sex'].value_counts
#data['Survived'].value_counts()
#data['Sex'].value_counts()

314

In [204]:
import pandas
data = pandas.read_csv ( 'titanic.csv' , index_col='PassengerId')
#b=data['Sex'].vaue_counts
b=data['Pclass'].value_counts()
first=b[1]
snd=b[2]
rd=b[3]
print(first*100/(first+snd+rd))

24.2424242424

In [250]:
#average
import pandas
data = pandas.read_csv ( 'titanic.csv' , index_col='PassengerId')
data['Age'].mean()
#data['Age'].sum(nume)

29.69911764705882

In [6]:
#медиана
import pandas
data = pandas.read_csv ( 'titanic.csv' , index_col='PassengerId')
#data.head()
#data['Age'].sum()
data['Age'].median()

28.0

In [82]:
#корреляция
import pandas
data = pandas.read_csv ( 'titanic.csv' , index_col='PassengerId')
#data
data[['Survived', 'Age']].corr(method='pearson')

          Survived       Age
Survived  1.000000 -0.077221
Age      -0.077221  1.000000

In [31]:
import pandas
data = pandas.read_csv ( 'titanic.csv' , index_col='PassengerId')
b=data[data['Sex'] == 'female']
b['Name'].str.replace(r".+\(", "").str.replace(r".+\. +", "").str.replace(r" .+", "").value_counts()[:2] #или замена .replace('[^a-zA-Z0-9]', ' ', regex = True)

Anna    14
Mary    13
Name: Name, dtype: int64

In [38]:
import pandas
data = pandas.read_csv ( 'titanic.csv' , index_col='PassengerId')
#b=data['Sex'].vaue_counts
b=data['Pclass'].value_counts()
print(type(b))

<class 'pandas.core.series.Series'>

In [1]:
#обучение дерева и важность критериев
import pandas
import numpy as np
from sklearn.tree import DecisionTreeClassifier
data = pandas.read_csv ( 'titanic.csv' , index_col='PassengerId')
d=data[['Pclass', 'Fare', 'Age', 'Sex']].dropna().replace(r"male", "1").replace(r"female", "0")
s=data[['Survived','Pclass', 'Fare', 'Age', 'Sex']].dropna()
s1=s['Survived']

clf=DecisionTreeClassifier(random_state=241)
clf.fit(d,s1)
importances=clf.feature_importances_
importances
#d.head()


#data['Age].isnan()
#clf = DecisionTreeClassifier()
#clf.fit(X, y)

ImportError: cannot import name 'NUMPY_MKL'