In [6]:
import pandas as pd
import numpy as np
data_train=pd.read_csv('salary-train.csv')
data_test=pd.read_csv('salary-test.csv')
data_train['LocationNormalized'].fillna('nan', inplace=True)
data_train['ContractTime'].fillna('nan', inplace=True)
data_train['FullDescription']=data_train['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True).str.lower()
data_test['LocationNormalized'].fillna('nan', inplace=True)
data_test['ContractTime'].fillna('nan', inplace=True)
data_test['FullDescription']=data_test['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True).str.lower()


from scipy.sparse import hstack
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import Ridge
enc = DictVectorizer()
X_train_categ = enc.fit_transform(data_train[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test_categ = enc.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict('records'))
#X_test_categ.data
vec=TfidfVectorizer(min_df=5)
vec_train=vec.fit_transform(data_train["FullDescription"])
vec_test=vec.transform(data_test['FullDescription'])
data_train1=hstack([vec_train, X_train_categ])
data_test1=hstack([vec_test,X_test_categ])
r=Ridge(alpha=1)
r.fit(data_train1, data_train["SalaryNormalized"])
r.predict(data_test1)

print(data_test)

#hstack([Vect,Xtest_categ])

#data_train[:]

                                     FullDescription LocationNormalized  \
0  we currently have a vacancy for an hr project ...      Milton Keynes
1  a web developer opportunity has arisen with an...         Manchester

  ContractTime  SalaryNormalized
0     contract               NaN
1    permanent               NaN

In [ ]:
import pandas as pd
import numpy as np
data_train=pd.read_csv('close_prices.csv')
data_test=pd.read_csv('djia_index.csv')
data_train1=data_train.drop("date",1)
from sklearn.decomposition import PCA
pca=PCA(n_components=10)
pca.fit(data_train1)
#print(pca.explained_variance_ratio_) 
a=pca.transform(data_train1)
t = tuple(x[0] for x in a)
corr=np.corrcoef(t,data_test["^DJI"])
print(corr)
i=0
x=0
while x<0.9:
    x=pca.explained_variance_ratio_[i]+x
    i=i+1
print(x,i)
#print(pca.components_)
pca.components_[0]
data_train[[np.argmax(pca.components_[0], axis=None, out=None)+1]]
#np.argmax(pca.components_[0], axis=None, out=None)

In [8]:
data_train=pd.read_csv('salary-train.csv')
data_train

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355
5,Sales and Marketing Assistant will provide adm...,Crawley,NaN,22500
6,Vacancy Ladieswear fashion Area Manager / Regi...,UK,permanent,32000
7,Reference: LR/JAN/**** Our client is one of th...,Bristol,permanent,30000
8,Sponsorship Manager London The Company A marke...,Central London,permanent,31500
9,"About Barclays Barclays moves, lends, invests ...",South East London,permanent,42499
10,Counter Sales Person c****k dependent on exper...,Banchory,contract,16000
11,Central London Competitive Salary Bonus & Be...,Gipsy Hill,permanent,47500
12,We are recruiting for a dynamic organisation b...,Wakefield,permanent,20000
13,Composite Design Engineer required for a perma...,Abingdon,permanent,34000
14,Working managing a team to maintain the Home b...,Northampton,NaN,15360
15,HCL Nursing are actively recruiting skilled re...,Bradford,permanent,39811
16,HGV / Commercial vehicle Customer service adv...,Northamptonshire,contract,23000
17,Break into Banking .NET Developer (C/Agile/Wi...,London,permanent,47500
18,Registered Nurse (RGN) is required to work wit...,Tiverton,NaN,24500
19,Can you drive effective analytical solutions f...,Uxbridge,NaN,32000
20,"nbsp; My client is an small, but high profile ...",London,permanent,45000
21,Specialist Clinical Negligence Practice based ...,Lancashire,permanent,20000
22,Job description: • Answer contacts promptly an...,UK,permanent,21000
23,YEAR **** TEACHER ROLE Servoca Education is cu...,Surrey,contract,34800
24,REGISTERED GENERAL NURSES RGN BOURNEMOUTH FO...,Bournemouth,NaN,24500
25,Salary: ****k ****k pa plus benefits Location...,Leeds,permanent,25000
26,A reputable and fast growing asbestos company ...,South Yorkshire,permanent,28000
27,SENIOR BUSINESS TRAVEL EXECUTIVE Salary: ****k...,Essex,permanent,27500
28,Our client is one of the leading digital sales...,London,permanent,18000
29,Capita is a FTSE100 listed company and run EME...,UK,permanent,40000
...,...,...,...,...
59970,Freelance Estimator Role (Holding Post) – ****...,Nottinghamshire,permanent,42500
59971,Development Worker Salary: **** **** per annu...,West London,permanent,20000
59972,Vehicle Purchaser / Car Sales Chesterfield ***...,Chesterfield,permanent,23750
59973,This is your chance to join a dynamic FTSE 100...,UK,permanent,30500
59974,We are looking for a passionate Chef de Partie...,South East London,NaN,20500
59975,Children Youth and Family Services Team Manage...,London,permanent,27682
59976,Experienced retail merchandisers required. Pre...,Oxford,NaN,12960
59977,A rare and exciting opportunity has arisen to ...,Dorset,permanent,50000
59978,You will be responsible for the delivery and c...,UK,permanent,22000
59979,"Automotive, Motor Trade Job: Service Advisor R...",Leeds,NaN,19500
59980,A Service in Norfolk are looking for a qualifi...,King's Lynn,NaN,32640
59981,"Software Quality Engineer TickIT, CMMi, AQAP ...",Bedfordshire,permanent,45000
59982,Job Description Our client is a London based i...,London,permanent,68750
59983,Hays Education has recently experienced an inc...,Weston-Super-Mare,permanent,18720
59984,Internet Security Software Engineer Cambridge ...,Cambridge,permanent,50000
59985,Front End Web Designer / Front End Web Develop...,Preston,NaN,20000
59986,Our client a large NHS Foundation Trust is s...,Basingstoke,contract,54000
59987,Salary: &pound**** &nbsp&pound**** / Year Loca...,Southampton,permanent,28000
59988,The Position: Sous Chef Pastry The Candidate ...,Cheshire,NaN,21000
59989,Electrical Design Engineer required for a Cons...,Leeds,permanent,30000
59990,Project Manager Defence / Electronics A great...,Andover,permanent,42000
59991,Our client is a growing SME client based in We...,West Sussex,permanent,37000
59992,"DATA ANALYST Canary Wharf, London 69 Month Con...",London,contract,25920
59993,Bmsl require Labourer with ENHANCED PRISON CLE...,London,NaN,13440
59994,LONGHURST HAVELOK HOMES LIMITED REGISTERED RES...,Grimsby,NaN,12585
59995,"As a result of continued growth, First Class S...",Whitley Bay,contract,26400
59996,PHP / MVC Web Developer MacclesfieldCirca ***...,Macclesfield,permanent,26000
59997,"Staff Nurse, Nursing Home, Baldock White Recru...",Baldock,NaN,24500
59998,This is one of the best agency side opportunit...,The City,permanent,65000
59999,Must have CSCS card must have asbestos awarene...,London,NaN,23040